.box5 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1-content {
  width: 100%;
  margin-top: 45px;
  gap: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.section5-item {
  width: 100%;
  max-width: 280px;
  height: auto;
  padding: 50px 20px;
}

.section5-item a {
  text-decoration: none;
}

.box-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}

.box-item h2 {
  margin-bottom: 5px;
}

.title5 {
  color: #84848E;
  letter-spacing: 0px;
  margin-bottom: 30px;
}